:root {
    --primary: #ff0000;
    --bg: #010101;
    --pink: #920000;
    --stable: #cc0e0e;
  }
  
  * {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg);
    color: #fff;
  }
  
  /* navbar */
  .navbar-brand {
    font-size: 25px ;
    font-weight: bold;
  
  }
  .navbar-brand span {
  color: var(--primary);
  }
  .navbar .navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 1.1rem;
    text-align: center;
  }
  
  .navbar .navbar-nav .nav-item {
    padding: 10px;
  }
  
  .dropdown-item {
    background-color: var(--bg);
    color: #fff;
  }
  
  .dropdown-item:active {
    background-color: var(--bg);
    color: #fff;
  }
  
  
  .navbar .navbar-nav a:hover {
    color: var(--primary);
    background-color: var(--bg);
  }
  
  .navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
  }
  
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.4);
  
  }
  
  .navbar .navbar-extra a {
    color: #fff;
    margin: 0 0.5rem;
  }
  
  .navbar .navbar-extra a:hover {
    color: var(--primary);
  }
  
  #hamburger-menu {
    display: none;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 1px solid ;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }
  
  .navbar-brand {
  left: 15%;
  }
  
  .navbar {
    background-color: var(--bg);
  }
  
  /* hero section */
  
  .hero {
    min-height: 80%;
    min-width: 100%;
    right: auto;
    left: auto;
    top: 0;
    display: flex;
    align-items: center;
    /* background-image: url(../img/header-bg.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 1;
  }
  
  .carousel-item::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    /* di bawah ini harus di atur ulang kalau gradasi bawah fotonya mau warna lain */
    background: linear-gradient(0deg, var(--pink), rgba(255, 255, 255, 0) 50%);
  }
  
  .carousel-item img{
      opacity: 70%;
  }
  
  .hero .content {
    padding: 0 7%;
    margin: 0 auto;
    text-align: center;
    top: 0;
    justify-content: center;
  }
  
  .hero .content h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 2px 3px rgba(1, 1, 3, 0.6);
    line-height: 1.2;
  }
  
  .hero .content h1 span {
    color: var(--stable);
    text-decoration: none;
  }
  
  .hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: var(--stable);
    border-radius: 0.5rem;
    box-shadow: 1px 2px 3px rgba(1, 1, 3, 0.6);
  }
  
  .hero .content .cta:hover {
    background-color: var(--bg);
  }
  .hero .content .cta:hover:active {
    background-color:var(--primary);
  }
  
  /* gallery masonry */
  .containerm{
      max-width: 100%;
      padding: 0 3rem;
    }
    
    .containerm .image-container{
      columns:5 250px;
      gap:15px;
      justify-content: center;
      padding-top: 5px;
  
    }
    
    .containerm .image-container img{
      margin-bottom: 10px;
      border: 5px solid #fff;
      border-radius: 5px;
      width: 100%;
    }
  
    #masonry {
      width: 100%;
      min-height: 100%;
      padding-top: 2px;
      margin-top:0 ;
      background-color: var(--pink);
      bottom: 10rem;
      padding: 3rem 0 20rem 0;
      background-image: linear-gradient(to bottom, var(--pink) 20%, black);
    }
  
    .gallery h1,
    .videos h1{
      text-align: center;
      font-size: 3rem;
      font-weight: bold;
      padding-bottom: 2rem;
      padding-top: 2px;
      margin-top: 0;
      text-shadow: 1px 2px 3px rgba(1, 1, 3, 0.5);
    }
    .gallery span,
    .textvideo span,
    .lokasi span {
      color: var(--primary);
    }
  
    /* card section */
    .card {
      background-color: var(--bg);
      color: #fff;
      justify-content: center;
      
    }
  
    #gallery,
    .textvideo,
    #sherlok {
      padding-top: 1.8rem;
    }
  
    .judul1,
    .judul2,
    .judul3,
    .judulT {
      padding-top: 5rem;
      text-shadow: 1px 2px 3px rgba(1, 1, 3, 0.6);
    }
  
    #card {
      width: 100%;
      background-color: var(--pink);
      padding: 10rem 0;
    }

    #card .judul1 {
      padding-top: 8rem;
    }

    #card .judul2 {
      padding-top: 8.5rem;
    }
  
    .card img {
      border: 3px solid var(--primary);
      border-radius: 30% 0 30% 0;
    }

    #card .container,
    #cardtenda .container {
      justify-content: center;
      max-width: 90%;
      margin: 30px auto;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
    }
  
    #card .container .card,
    #cardtenda .container .card {
      margin: 10px;
      width: 400px;
    }
  
    .judul1 h1,
    .judul2 h1,
    .judul3 h1,
    .judulT h1 {
      font-size: 3rem;
      font-weight: bold;
    }
  
    .judul1,
    .judul2,
    .judul3,
    .judulT {
      text-align: center;
      font-size: 25px;
    }
  
    .judul1 span,
    .judul2 span,
    .judul3 span,
    .judulT span {
      color: var(--primary);
    }
  
    .card-link {
      width: 100%;
      background-color: var(--primary);
      border: var(--primary);
    }
    .card-link:hover {
      background-color: var(--bg);
      border: var(--primary);
    }
    .card-link:hover:active {
      background-color: rgb(219, 154, 165);
      border: var(--primary);
    }
  
    .card-title {
      font-weight: bolder;
      text-shadow: 1px 2px 3px rgba(1, 1, 3, 0.5);
    }
  
    /* section video */
  
    #videos{
      background-image: url(../img/catalog/soundsystem/video-sound/parallax-sound1/1.png);
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      padding-top: 2.3rem;
      padding-bottom: 3rem;
      position: relative;
    }
  
    #videos .container {
      padding: 1rem;
      width: 80%;
      height: 100%;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }
  
    .textvideo h1 {
      padding-bottom: 2rem;
      text-shadow: 1px 2px 3px rgba(1, 1, 3, 0.6);
    }
  
    video {
      width: 300px;
      border-radius: 5%;
      border: 3px solid white;
    }
  
    /* section video */
  
    #videos2{
      background-image: url(../img/catalog/soundsystem/video-sound/parallax-sound1/1.png);
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      padding-top: 2.3rem;
      padding-bottom: 3rem;
      position: relative;
    }
  
    #videos2 .container {
      padding: 1rem;
      width: 80%;
      height: 100%;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }
  
    #videos2 .textvideo h1 {
      padding-bottom: 2rem;
      text-shadow: 1px 2px 3px rgba(1, 1, 3, 0.6);
    }
  
    #videos2 video {
      width: 300px;
      border-radius: 5%;
      border: 3px solid white;
    }
  
  /* section tenda */
  #cardtenda {
    width: 100%;
    background-color: var(--pink);
    padding-top: 10rem;
    padding-bottom: 20rem;
    background-image: linear-gradient(to top, var(--pink) 0, black 20%);
    box-shadow: 1px 2px 3px rgba(1, 1, 3, 0.6);
  
  }
  
    /* section lokasi kami */
  
    #lokasi {
      background-color: var(--primary);
      margin: auto;
      display: flex;
      justify-content: center;
      background-image: linear-gradient(to bottom, var(--pink) 20%, black);
      padding-bottom:5rem ;
      padding-top: 15.7rem;
  
    }
    #lokasi .container {
      margin: auto;
      width: 90%;
      padding: auto;
      font-size: 15px;
    }
  
    #lokasi h2{
      font-size: 3rem;
      padding-top: 1rem;
      text-shadow: 1px 2px 3px rgba(1, 1, 3, 0.6);
  
    }
  
    #lokasi p {
      font-size: 25px;
      padding-bottom: 2rem;
      text-shadow: 1px 2px 3px rgba(1, 1, 3, 0.6);
  
    }
  
    #lokasi .btn {
      background-color: var(--primary);
      color: #fff;
      border: 1px var(--primary) solid;
    }
  
    #lokasi .btn:hover {
      background-color: var(--bg);
    }
  
    #lokasi .btn:hover:active {
      background-color: var(--bg);
      border: 1px var(--primary) solid;
  
    }
  
    /* footer section */
    footer {
      background-color: var(--bg);
      color: white;
      padding-top: 8rem;
      padding-bottom: 10rem;
      width: 100%;
      height: 15%;
    }
    
    .text-white {
      color: red;
      text-decoration: none;
      font-weight: bold;
    }
    
    .bi {
      margin: 0 5px 5px 5px;
      color: var(--primary);
    }
    
  
  /*Dibaawah ini adalah kode Media Query Untuk Menyesuaikan Ukuran Perangkat*/
  /*ukuran Extra Large*/
  @media (max-width: 1200px) {
      .home .heart{
        transform: translateX(-50%) translateY(45px);
      }
    }
    
    /*ukuran untuk laptop*/
    @media (max-width: 992px) {
    html{
    75%;
    }
    }
    /*ukuran untuk tablet*/
    @media (max-width: 768px) {
    html{
    50%;
    }
    .carousel-item img{
        min-height: 100vh;
        min-width: 80%;
    }
  
    
    .hero {
      min-height: 100vh;
    right: auto;
    left: auto;
    top: 0;
    }
  
    .hero .content span {
      font-weight: bold;
    }
    .hero .content h1 {
      font-weight: bold;
      font-size: 25px;
      color: #fff;
      line-height: 1;
      padding: 0 auto;
    }
  
    .hero .content .cta {
      margin-top: 15px;
      display: inline-block;
      padding: 20px 50px;
      font-size: 20px;
      color: #fff;
      background-color: var(--primary);
      border-radius: 0.5rem;
      box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    }
  
    .gallery {
      text-align: center;
      font-size: 25px;
      padding-bottom: 0;
      padding-top: 3rem;
      margin-top: 0.5rem;
    }
  
    .containerm .image-container{
      columns:5 250px;
      gap:15px;
      justify-content: center;
      padding-top: 1px;
    }
  
  
  
    #masonry {
      padding-top: 1.8rem;
      padding-bottom: 20px;
    }
    .containerm{
      margin:1rem auto;
    }
  
    .carousel-item::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 30%;
      bottom: 0;
      /* di bawah ini harus di atur ulang kalau gradasi bawah fotonya mau warna lain */
      background: linear-gradient(0deg, var(--pink) 8%, rgba(255, 255, 255, 0) 50%);
    }
  
    .gallery h1,
    .videos h1,
    #lokasi h2,
    .judul1 h1,
    .judul2 h1,
    .judul3 h1,
    .judulT h1 {
      font-size: 1.4rem;
    }
  
    .judul1,
    .judul2,
    .judul3,
    .judulT {
      padding: 3px 0;
      margin-top: 0;
      margin-bottom: 0;
    }

  
    #lokasi p{
      font-size: 17px;
    }
  }
    /*ukuran untuk mobile/hp*/
    @media (max-width: 576px) {
    40%;
    
    }