:root {
  --primary: #f7b5b5;
  --bg: #010101;
  --pink: #ffe0ee;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
  height: 2000px;
}

/* part 1 homepage */
/* Navbar Section */
.navbar .navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 1.1rem;
    margin: 0 1rem;
  }
  
  .navbar .navbar-nav a:hover {
    color: var(--pink);
  }
  
  .navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--pink);
    transform: scaleX(0);
    transition: 0.2s linear;
  }
  
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
  }
  
  .navbar .navbar-extra a {
    color: #fff;
    margin: 0 0.5rem;
  }
  
  .navbar .navbar-extra a:hover {
    color: var(--pink);
  }
  
  #hamburger-menu {
    display: none;
  }
  
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 1px solid #ffe0ee;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }

.navbar-brand {
  left: 15%;
}

.navbar {
    background-color: var(--pink);
}
/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
}

.hero::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    /* di bawah ini harus di atur ulang kalau gradasi bawah fotonya mau warna lain */
  background: linear-gradient(0deg, rgba(1, 1, 3, 1) 10%, rgba(255, 255, 255, 0) 50%);
  }
/* 
.hero .mask-container {
  position: absolute;
  background: #ff0000;
  inset: 0;
  -webkit-mask-image: url("../img/header-bg.png");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  -webkit-mask-position: center;
} */

.hero .content {
  padding: 1.4rem 7%;
  max-width: 100%;
  text-align: center;
  position: fixed;
  top: 150px;
}

.hero .content h1 {
  font-size: 3em;
  color: #fff;
  text-shadow: 1px 2px 3px rgba(1, 1, 3, 0.6);
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--primary);
  text-decoration: none;
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 300;
  text-shadow: 1px 2px 3px rgba(1, 1, 3, 0.7);
  mix-blend-mode: difference;
}


.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 2px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta:hover {
  background-color: var(--bg);
}
.hero .content .cta:hover:active {
  background-color: rgb(219, 154, 165);
}


/* section gallery */

.gallery,
.gallery2,
.gallery3 {
  background-color: var(--bg);
  padding-top: 15rem;
  padding-bottom: 17rem;
}

.gallery h2,
.gallery2 h2,
.gallery3 h2 {
  color: var(--primary);
  font-family: "Sacramento";
  font-size: 5rem;
  font-weight: bold;
}

.gallery span,
.gallery2 span,
.gallery3 span {
  text-transform: uppercase;
  color: #666;
  font-size: 0.9rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  display: block;
}

.gallery p,
.gallery2 p,
.gallery3 p {
  font-size: 1rem;
  font-weight: 400;
}



/* About Section */
.about {
  padding: 10rem 7% 1.4rem;
  background-color: var(--pink);
  background-image: linear-gradient(to bottom, black, pink);
}

.about h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span,
.contact h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .about-img img {
  margin: 0.5rem auto;
  
  border: 3px solid white;
  border-radius: 15% 15% 15% 15%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 2rem;
  margin: 3rem;
  text-align: center;

}

.about .row .content p {
  margin-bottom: 0.8rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.6;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.6);

}

/* contact section */
#contact {
    padding: 25rem 0 20rem 0;
    background-image: linear-gradient(to bottom, pink , black);
}

#contact .btn {
  width: 100%;
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

#contact .btn:active {
  background-color: #010101;
}

/* footer */

.footer {
  background-color: var(--bg);
  color: white;
  padding: 10rem auto;
}

.text-white {
  color: red;
  text-decoration: none;
  font-weight: bold;
}

.bi {
  margin: 0 5px 5px 5px;
  color: var(--primary);
}
  

/*Dibaawah ini adalah kode Media Query Untuk Menyesuaikan Ukuran Perangkat*/
/*ukuran Extra Large*/
@media (max-width: 1200px) {
    .home .heart{
      transform: translateX(-50%) translateY(45px);
    }
  }
  
  /*ukuran untuk laptop*/
  @media (max-width: 992px) {
  html{
  75%;
  }
  }
  /*ukuran untuk tablet*/
  @media (max-width: 768px) {
  html{
  50%;
  }
  .hero .content h1 {
    font-size: 27px;
    color: #fff;
    line-height: 1;
  }
  .hero .content p {
    font-size: 15px;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 300;
    text-shadow: 1px 2px 3px rgba(1, 1, 3, 0.7);
    mix-blend-mode: difference;
  }
  
  .hero .content .cta {
    margin-top: 15px;
    display: inline-block;
    padding: 20px 50px;
    font-size: 20px;
    color: #fff;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 1px 2px 3px rgba(1, 1, 3, 0.5);
  }
  .gallery h2,
.gallery2 h2,
.gallery3 h2 {
  color: var(--primary);
  font-family: "Sacramento";
  font-size: 2rem;
  font-weight: bold;
}

.about .row .content h3 {
  font-size: 1.6rem;
  margin: 1rem;
  text-align: center;

}

.about .row .content p {
  margin-bottom: 0.8rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.6);

}

  }
  /*ukuran untuk mobile/hp*/
  @media (max-width: 576px) {
  40%;
  
  }